<div id="container">
    <div>

<img src="/images/beer.png" alt="beer">

<a class= 'boton' href="/beers">Check the Beers!</a>
<a class= 'boton' href="/random-beer">Check a Random Beer</a>


<footer>

  <p>Develop by Ironhack ;)</p>

</footer>

    </div>
</div>